%section#about_us.about_us.bg-primary
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h2 About Us
        %hr
        %p L.L. & R's Stepping Stones Sober Living Facility is a residential 12-Step Program for men and women. Our facilities are in Palm Beach County, FL and close to  beaches and parks, which gives our residents a peaceful, relaxing atmosphere while transitioning into long term recovery and independent living.
        %p Our Sober Living Facilities  offer a safe, supportive atmosphere where men and women can form new healthy friendships and learn how to manage real life responsibilities such as employment and education. Even more importantly, integrate these responsibilities into their new recovery program. Our programs give individuals a fresh start, with new friends and a new way of life. 

        %p We have fifteen sober houses, seven in Lake Worth and eight in West Palm Beach. Some of our Sober Living facilities are walking distance to meetings. All are close to shopping, public transportation, meetings, and the beach. We assist our residence in their recovery programs by giving them access and transportation to their therapy sessions, meetings, finding jobs, finding a sponsor, and/or any other additional needs as may be required.
        %p We have a structured and supportive environment. There is a  mandatory relapse prevention group every Wednesday night and also step study groups  every Monday night (we supply pizza). We are affiliated with differernt Intensive Out Patient (IOP) programs that accept insurance.  For those who do not have insurance we have a Therapist, who donates her time, and offers group and individual sessions.  Two of our locations are affiliated with Access To Recovery (Federal Grant through DCF).  We are a caring, hands on sober living facility and we welcome you to join our family.
