%section#expectations.expectations
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h2 Resident Expectations
        %hr
        .row
          .col-md-12
            %p The use or presence of alcohol and/or drugs is not allowed on the premesis. Immediate discharge of you and your property will be enforced.

            %p Violence expressed by implied yelling, verbal threats or physical acting out will not be tolerated. It will result in immediate discharge.

            %p Each person is responsible for their own personal cleanliness of their rooms and the overall cleanliness of the house. If you are in violation of this rule the house manager will report to staff and a write-up will be given. if problem persist the unit will be assigned a chore list. If you do not participate in chore that is assigned to you, you will be given a write-up and/or curfew restrictions will be reviewed.

            %p Owners, manager and asst. manager have the right to nightly and daily house inspections. We have the right to inspect your belonging at anytime.

            %p Visitors to L.L. & R. Stepping Stone, LLC units must be approved by staff and absolutely no visitors are are ever permitted overnight visits or on property intoxicated or using. If you are in violation of this rule; a write-up will be given and visitation rights will be revoked for a period of 2 weeks unless otherwise directed by a staff member. 

            %p There is a curfew for the first 30 days of arrival 10:00pm Sunday-Thursday, 12:00pm Friday and Saturday. Curfews are lifted after the 30 days.

            %p Overnight passes are granted after probation period of 30 days. All overnight passes must be filled out and staff approved. It is mandatory that you take a drug test upon return at a cost of $7.00. If tested positive immediate discharge and you will be unable to return for a period of 3 days if approved by staff.

            %p Smoking will be allowed in units but never in sleeping rooms. Violation of this rule will result in a write-up.

            %p You must notify a staff member of any prescribed medications that you are taking. If there are any changes in your medications you must report changes to a staff member. 

            %p You are responsible to supply your food, toiletries and paper goods. The taking of someone else's is considered stealing and not permitted. This will result in immediate discharge and/or a write-up. Respect other's property. If you are having difficulties supplying your own food; inform a staff member they have a listing of places and people that help in this area (i.e. food banks, and Children and Family Services for food stamps). Proof of residence letter from a staff member will be typed for you if needed. We are here to help you. 

            %p You must obtain a sponsor and work a 12-Step Program. Call at least three supports with a year or more clean time daily. This will help you obtain a good support system. 

            %p You must attend meetings regularly (90 meeting in 90 days). If you do not have transportation we have free bus schedules, get with your roommates and/or call your support group for rides. Failing to attend meetings will result in a write-up. 

            %p There is to be NO repairing or washing your vehicles on the property or neighboring streets. This will result in a write-up. 

            %p In-house weekly Relapse Prevention Meeting located at the original Stepping Stones is held very Wednesday night at 8:00pm and is mandatory for all to attend. IF you have a job that requires you to work on this night you are to inform a staff member. IF you are not excused from the meeting prior to 8:00pm due to illness or other will result in a write-up. Remember to call to be excused to prevent a write-up. We understand that things come up that are out of your control just call. 

            %p You may be required to take a random drug test and if you test positive for any drug or alcohol use; you will be immediately removed, (there will be a write-up), and you will be unable to return for a period of 3 days if approved by staff. 

            %p Three disciplinary write-ups is a dismissal from L.L. & R.'s Stepping Stones, LLC.
