%section#our_staff.our_staff.bg-primary
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h2 Our Staff
        %hr
        .row
          .col-md-6.col-sm-12
            %h4 Laura Lee Chapman
            %p Hello, my name is Laura Lee and I am the founder and owner of L.L. & R.'s Stepping Stones, LLC, along with my wonderful husband Ray, (that's where the L.L. & R comes from). We are both recovering addicts. I'd like to share some of my experience strength & hope with you. 

            %p I was born in Miami, FL in 1964. I was raised by two wonderful parents who taught me to be respectful, loving, caring, responsible, to have morals and values. In spite of all that, I blamed them anyway for my drug use. I did very well in school and went onto college. I was in Girl Scouts, played softball for 9 years, was a cheer leader for 8 years and very much loved by my parents. But I still blamed them, and any other situaccction or person I could for my bad choices in life. The fact is I made those choices but I didn't take responsibility for them until i got clean and started working a 12-Step Program. 

            %p I suffer from the disease of addiction and learned that this disease does not discriminate. It does not care if you were craised by good parents or not, rich or poor, black or white, talented, educated or whatever. I don't know if I was born a drug addict, but the first time I did drugs an addict was born. The drugs made me "feel" smarter, prettier, more popluar, more fun to be with, just...better. 

            %p It was a slow progress and it lead me down a road I'd never thought I'd go down. I was not raised that way. Things I said I'd never do began to be normal to me. It seemed as though I didn't have a choice anymore. I felt like I needed to use drugs to breath and just feel "right." 

            %p I love my children with every ounce inside  of me, but I loved my drugs more and that is so hard for a mother to say. That's the cold, hard truth that I don't want to ever forget. I'd use anything from the outside - drugs, men, sex, shopping, food and/or money to make the inside of me feel better - but nothing worked. I was empty. I went to treatment in 1998 and stayed clean for 6 months but, I never got a sponsor, didn't like meetings and never opened up any of the books that was suggested. I just couldn't get it. I ended up back on the road of pain and despair. 

            %p In 2000 I wanted to get clean so badly I would pray for HELP, try to quit on my own, and read inspirational quotes. This was one of my favorites: 

            %h5 DON'T QUIT

            %p When things go wrong, as they sometimes will, When the road you're trudging seems all uphill, When the funds are low, and the debts are high, And you want to smile, but you have to sigh, When are is pressing you down a bit, Rest if you must, but don't you quit.

            %p Life is strange with its twists and turns, As everyone of us sometimes learns, And many a failure turns about when you might have won had you stuck it out so don't give up though the pace seems slow, you may succeed with another blow. 

            %p Success is failure turned inside out, The silver tint of the clouds of doubt, And you can never tell how lose you are, It may be near when it seems so far; So stick to the fight when you're hardest hit, It's when things seem worst That you MUST NOT QUIT.

            %p I read it everyday. To me it meant don't quit trying. I wanted to change my life, I knew there had to be a better way to live; my dreams were getting further & further away. I'd look up and cry, "this can't be my life, please help me or kill me, I can't live like this anymore!" I tried to change everything around me not realizing it was me that needed to change. After 2 years of trying and trying to change my life and wanting it so desperately, I finally surrendered September 24, 2002. My life changed, I went into treatment for 30 days, got a sponsor, started working the 12-Step Program, and finally admitted that I had no idea how to live life without my drugs, I needed HELP! I surrendered and I started listening, taking suggestions - like my life depended on it - because it does. 

            %p It took a while to clean up the wreckage of my past. I'm still suffering consequence from my past but today I have acceptance and GRATITUDE! I am a MIRACLE. Today I have a life beyond my wildest dreams. I have an amazing life with family, parents and children whom are now proud of me, a beautiful husband, incredible friendships, huge support system, and a wonderful sponsorship family. I have built back the bridges that I once destroyed. Hey, I even own my own company. I am a responsible and productive member of society. And I love my life and my job. I get to watch and help other recovering addicts change their lives. WHAT A BLESSING!!! We are not bad people trying to become good, we are sick people getting well.

            %p In 2013, I had the honor of sharing my experience, strength, and hope in an inspirational documentary produced by FoReel. The film features the powerful stories of three women and the struggles they faced in active addiction and recovery. 

            %p You can view the entire documentary by visiting FoReelInspirations.org.

          .col-md-6.col-sm-12
            %h4 Ray Rodriguez
            %p My name is Ray, Co-Founder of L.L. & R's Stepping Stones, LLC. I am in recovery and working a program in my life today. I now have over 9 years of clean time and still moving forward. I have a number of sponcees and I also run a mens step study group on Monday nights. Just to give you a little more information and background about myself, at a early age, I played professional baseball and football and I threw it all away due to my addiction. I worked hard through life for a construction company, as an area manager, only to also throw out all that opportunity again. I ended up with no where else to go and was forced to live in the woods. It was then I realized again that I threw my life away due to my addiction. At the end of my addiction, in 2003, I was arrested and finally thought that I may have a problem. That was my start in recovery, by asking if I had a problem, and then by asking for help. I was sentenced to a treatment center and began learning some tools of recovery, taking suggestions and living life.
          
          .col-md-6.col-sm-12
            %h4 Lauren Meyers
            %p My name is Lauren Meyers and I am the  General Manager and Administrator for LL&R's Stepping Stones. I am a proud member of a program that saves and changes lives. I was blessed to find recovery at a young age and I'm loving life.  It is an honor to be able to help other addicts in their recovery process.
            Contact Information
            %ul.list-unstyled
              %li
                %i.fa.fa-phone.fa-fw
                Phone: (610) 704-2270
              %li
                %i.fa.fa-envelope-o.fa-fw
                Email: 
                = link_to 'Laurenmeyers88@gmail.com'
