%section#porograms_and_fees.porograms_and_fees
  .container
    .row
      .col-lg-12
        %h2 Our Programs & Fees
        %p.lead
          About Our Sober Living Communities
          = link_to 'https://steppingstones.gocashbox.com/', :target => "_blank", class: 'pull-right btn btn-primary' do
            Make A Payment
      .col-lg-12
        %p
          We have 17 locations throughout Lake Worth and West Palm Beach . Each one of our sober living facilities have house managers who work a solid program and lead by example. By having supportive, compassionate staff and facilities that are decorated for comfort and style, our clients enjoy the finest living and recovery possible. 
        %p
          Our facilities are nicely decorated for our residents. We have cable T.V.  in every room, wifi, and washer and dryer in each unit. We supply all the essentials such as bedding and kitchen needs (you supply your own toiletries, food and paper products). 
        %p
          We offer single and double rooms, and do make certain restrictions with couples. 
        %p
          Weekly rent ranges in price from $175/week and up depending on optional fees for additional services as well as appropriate placement according to each individual client's needs. Please call us for specific details on pricing.
      .col-lg-6
        %p
          %strong Prior to occupancy the following funds are required:
          %ul
          %li First Week Rent Payment
          %li Last Week Rent Payment
          %li Non-Refundable Processing Fee $100

      .col-lg-6
        %p
          %strong Recovery Program Phases
          %br
          %br
          Stepping Stones offers a phased approach to assisting individuals in their recovery process. All phases are determined on an individual basis as your recovery team monitiors your personal recovery path. Upon entering Stepping Stones each client is individual screened to see what phase is appropriate. We meet each client where they are at in their recovery to meet their needs individually.

          %br
          %br
      .col-lg-6
        %h4 Recovery Program-Phase I
        %strong Phase I Program Structure: Expectations and Privileges
        %ul
          %li Remain Abstinent
          %li No visitors for the first seven days
          %li No Passes the first two weeks from admission date
          %li Limited Budget
          %li Obtain 5 same sex phone numbers a week  (sober supports)
          %li Attend all mandatory meetings including our
          %li in-house relapse prevention group and 
          %li step studies (seperate men only and women only groups)
          %li Journaling daily


      .col-lg-6
        %h4 Recovery Program-Phase II
        %ul
          %li Phase II Program Structure: Expectations and Privileges
          %li Remain Abstinent
          %li Obtain Sponsor
          %li Work the Steps with your Sponsor
          %li Build support group
          %li Join a Home Group
          %li Daily Meetings
          %li One Pass Per Week (must attend meeting while on pass)
          %li Prior to departing for your pass, apartment and chore inspection must be satisfactory or pass will be revoked
          %li Attend all mandatory meetings
          %li Journaling daily
          %li Job search


      .col-lg-6
        %h4 Phase III-V Program Structure: Expectations and Privileges
        %ul
          %li Attend All Mandatory Group and Individual Sessions
          %li Must Be Employed, Volunteering or Attending School
          %li Assigned a Little Brother or Sister
          %li Passes Two Times Per Week Upon Satisfactory Approval Apartment and Chore Duties
          %li Possibility to Extend Curfew Hours
          %li Possibility for Overnight Pass
          %li Work with Sponsor
          %li Continue Daily 12-Step Meetings
          %li Possibility of becoming House Manager
          %li Use of Personal Vehicle
      .col-lg-12
        = link_to 'https://steppingstones.gocashbox.com/', :target => "_blank", class: 'pull-right btn btn-primary' do
          Make A Payment

