%header#top.header
  .text-vertical-center.top-content-box
    = image_tag ('ani-Butterfly1.gif'), :class => "butterflygif"
    %h1 LL&Rs Stepping Stones
    %h2 
      Turn Your Stumbling 
      Blocks Into 
      Stepping Stones
    %br/
    .container
      .row
        .col-lg-6.text-center
          .content.lead.text-left
            %p LLR’s Stepping Stones offers sober living programs in Palm Beach County, FL to empower individuals with the tools they need to successfully enter into a long term recovery program. We offer flexible transitional recovery programs to our residents in a supportive environment where they learn, grow, and are encouraged. We work with individuals at all phases of the recovery process, whether someone is just beginning to take their first step in recovery to those who have been venturing down the recovery path for years and needs a supportive environment to continue that journey forward.
        .col-lg-6.text-center
          .content.lead.text-left
            %p Residents of Stepping Stones are given an inviting, supportive, yet structured sober living environment and have full access to a variety of programs, therapy and activities to help achieve long term recovery and independence. 
        .col-lg-6.text-center
          .content.lead.text-left
            %p Our staff is truly committed to each of our residents and want to impart our own experience, knowledge, and empowerment to our residents to help them be successful in their recovery process. We believe therapy alone is not enough for someone recovering from addiction. We have an alternative approach as we believe life skills, support, and safe environment, in addition to therapy will help someone to gain the independence they are seeking.
            %a.btn.btn-dark.btn-lg{:href => "#porograms_and_fees"} Find Out More

